.frame-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xs);
    background-color: var(--color-darkgray);
    border: 5px solid var(--color-bisque);
    box-sizing: border-box;
    width: 5rem;
    height: 5rem;
  }
  .raj-vidya-kender,
  .rvk {
    position: absolute;
    display: flex;
    align-items: center;
  }
  .raj-vidya-kender {
    top: 3.44rem;
    left: 0.44rem;
    letter-spacing: -0.05em;
    line-height: 0.63rem;
    font-weight: 600;
    width: 4.19rem;
    text-shadow: 3px 3px 3px rgba(155, 155, 155, 0.6);
    opacity: 0.8;
  }
  .rvk {
    top: 1.38rem;
    left: 0.38rem;
    font-size: var(--font-size-xl);
    letter-spacing: -0.02em;
    font-family: var(--font-poppins);
    color: var(--color-tan);
    text-align: center;
    justify-content: center;
    width: 4.13rem;
    height: 1.63rem;
    text-shadow: 2px 1.5px 2px rgba(234, 214, 182, 0.6);
    -webkit-text-stroke: 0.5px #ead6b6;
  }
  .rectangle-parent {
    position: absolute;
    top: 1.25rem;
    left: 3.69rem;
    width: 5rem;
    height: 5rem;
    font-family: var(--font-inter);
  }
  .epmenu-icon {
    position: absolute;
    top: 0.19rem;
    left: 36.56rem;
    width: 1.25rem;
    height: 1.25rem;
    overflow: hidden;
  }
  .about-us,
  .home {
    position: absolute;
    top: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home {
    left: 0;
    color: var(--color-tan);
    width: 4.38rem;
  }
  .about-us {
    left: 7.5rem;
    width: 5.38rem;
  }
  .span {
    color: var(--color-steelblue);
  }
  .events-txt {
    line-break: anywhere;
    width: 100%;
  }
  .events,
  .initiatives,
  .more {
    position: absolute;
    top: 0;
    left: 16rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 4.38rem;
  }
  .initiatives,
  .more {
    left: 23.5rem;
    justify-content: center;
    width: 6.13rem;
  }
  .more {
    left: 32.75rem;
    width: 4.38rem;
  }
  .epmenu-parent {
    position: absolute;
    top: 2.88rem;
    left: 50rem;
    width: 37.81rem;
    height: 1.69rem;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-black);
  }
  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-darkgray);
    width: 5rem;
    height: 1.25rem;
  }
  .login {
    position: absolute;
    top: 0.38rem;
    left: 1.5rem;
    letter-spacing: 0.1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 2rem;
    height: 0.5rem;
  }
  .rectangle-group {
    position: absolute;
    top: 0.94rem;
    left: 83rem;
    width: 5.1rem;
    height: 1.35rem;
  }
  .material-symbolsarrow-back-io-icon {
    position: absolute;
    top: 0;
    left: 3.63rem;
    width: 0.5rem;
    height: 0.5rem;
    overflow: hidden;
  }
  .language {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: -0.05em;
    line-height: 0.13rem;
    display: flex;
    align-items: center;
    width: 3.56rem;
    height: 0.5rem;
  }
  .material-symbolsarrow-back-io-parent {
    position: absolute;
    top: 0.38rem;
    left: 0;
    width: 4.13rem;
    height: 0.5rem;
    font-size: var(--font-size-4xs);
    color: var(--color-dimgray);
  }
  .group-parent {
    position: absolute;
    top: 0.94rem;
    left: 78.44rem;
    width: 4.2rem;
    height: 1.25rem;
    text-align: justify;
    font-size: var(--font-size-5xs);
    color: var(--color-white);
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 100%;
    height: 7.5rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-6xs);
    color: var(--color-bisque);
    font-family: var(--font-poppins);
  }
  



  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.modal{
  z-index: 1;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}





.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.modalContainer {
    margin: 20px;
    width: 500px;
    height: 700px;
    left:0px;
    top:0px;
    background:#CECECE;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }

  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }

  .body {
    display: flex;
    position: relative;
    width: 320px;
    height: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.24px;
    color: #000000;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .button{
    justify-content: center;
    align-items: center;
    padding: 12px 45px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    background: #DEC29A;
    border-radius: 10px;
  }
  .mid{
    width: 23px;
    height: 25px;
  align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: -0.24px;
    color: #000000;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;

  }



  

.modalBackground1 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer1 {
  margin:20px;
  width: 500px;
  height: 500px;
  left:0px;
  top:0px;
  background:#CECECE;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.titleCloseBtn1 {
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;


}

.titleCloseBtn1 button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.body1 {
  display: flex;
  position: relative;
  width: 320px;
  height: 33px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.24px;
  color: #000000;
  margin: auto;
  margin-top: 6%;
}

.button1{
  justify-content: center;
  align-items: center;
  padding: 12px 45px;
  max-width: 200px;
  min-width: 120px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
  background: #306D50;
  border-radius: 10px;
}
.mid1{
  width: 200px;
  height: 25px;
align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: -0.24px;
  color: #000000;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;

}
.inp{
width:55%;
height:30px;
margin-top: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000;
border-radius: 10px;
}
.green{
color:green;
}
.red{
display: flex;
color: red;
font-size: 12px;
margin-left: 22%;
}